.dept-card-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-content: space-evenly;
  justify-content: space-evenly;
  text-align: center;
}
.deptCard {
  font-family: Arial, Helvetica, sans-serif;
  user-select: none;
  max-width: 1000px;
  margin: 2rem auto;
  border: 1px solid #ffffff22;
  background-color: #282c34;
  background: linear-gradient(0deg, #282c34 0%, rgba(17, 0, 32, 0.5) 100%);
  box-shadow: 0 7px 20px 5px #00000088;
  border-radius: 0.7rem;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  overflow: hidden;
  transition: 0.5s all;
  text-align: center;
}

.deptCard ins {
  text-decoration: none;
}

.deptCard h2 {
  font-family: "Myriad Pro Regular", serif;
  color: white;
  font-weight: 400;
  font-size: 2rem;
  /* height: 50px; */
  z-index: 99;
}

.deptCard .main {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 1rem;
  text-align: center;
  margin: auto;
}
.deptCard .main .deptIcon {
  border-radius: 0.5rem;
  width: 100px;
  height: auto;
  object-fit: cover;
  margin: auto;
  filter: invert();
}
.deptCard .main .description {
  z-index: 99;
  margin: 0.5rem 0;
  color: #c4bfd7;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  text-transform: none;
}

.deptCard ::before {
  position: fixed;
  content: "";
  box-shadow: 0 0 100px 40px #ffffff08;
  top: -10%;
  left: -100%;
  transform: rotate(-45deg);
  height: 60rem;
  transition: 0.7s all;
}
.deptCard:hover {
  border: 1px solid #ffffff44;
  box-shadow: 0 7px 50px 10px #000000aa;
  transform: scale(1.015);
  transform: perspective(1px) translateZ(0);
  backface-visibility: hidden;
  filter: brightness(1.3);
}

@media (max-width: 1270px) {
  .dept-card-container {
    flex-direction: column;
  }
  .deptCard {
    max-width: 80%;
    border: 1px solid #ffffff44;
    box-shadow: 0 7px 50px 10px #000000aa;
    transform: scale(1.015);
    transform: perspective(1px) translateZ(0);
    backface-visibility: hidden;
    filter: brightness(1.3);
  }
  .deptIcon {
    width: 80px;
  }
  .description {
    color: #e0dcee;
  }
}

.dept-card-container .deptCard .main button {
  align-items: center;
  background-clip: padding-box;
  background-color: #61479C;
  border: 1px solid transparent;
  border-radius: 0.4rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 18px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 15px auto;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: 200px;
}

.button-5:hover,
.button-5:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-5:hover {
  transform: translateY(-1px);
}

.button-5:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  transform: translateY(0);
}
