@font-face {
  font-family: "Myriad Pro Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Regular"),
    url("./assets/fonts/myriadpro/MYRIADPRO-REGULAR.woff") format("woff");
}

@font-face {
  font-family: "Myriad Pro Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Bold"),
    url("./assets/fonts/myriadpro/MYRIADPRO-BOLD.woff") format("woff");
}

@font-face {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: normal;
  src: local("Helvetica"),
    url("./assets/fonts/Helvetica-Font/Helvetica.ttf") format("ttf");
}

:root {
  --primary: #b084bc;
  --light: #ededed;
  --dark: #1f1f1f;
}

html {
  margin: 0px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0px;
  background-color: black;
  -webkit-animation-delay: 4s;
  -moz-animation-delay: 4s;
  animation-delay: 4s;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  overflow-x: hidden;
}

.hh {
  position: absolute;
  font-size: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

/*navbar start*/

.nav-container {
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-active {
  background-color: rgba(0, 0, 0, 0.797);
  box-shadow: 5px -1px 12px -5px grey;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: transparent;
  padding: 16px 32px 40px 32px;
  font-family: "Myriad Pro Regular", serif;
  font-size: 1.4rem;
  transition: 0.3s ease-in-out;
}

.hamburger {
  display: block;
  position: absolute;
  top: 16px;
  left: 13px;
  z-index: 100000000;
  user-select: none;
  appearance: none;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.hamburger span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background-color: var(--light);
  border-radius: 6px;
  z-index: 1;
  transform-origin: 0, 0;
  transition: 0.3s;
}

.hamburger:hover span:nth-child(2) {
  transform: translateX(10px);
  background-color: #ffb9f6;
}

.hamburger.is-active span:nth-child(1) {
  transform: translate(-2px, 21px) rotate(45deg);
}

.hamburger.is-active span:nth-child(3) {
  transform: translate(-3px, 3px) rotate(-45deg);
}

.hamburger.is-active span:nth-child(2) {
  opacity: 0;
  transform: translateX(15px);
}

.hamburger.is-active:hover span {
  background-color: #ffb9f6;
}

.menu {
  display: none;
  flex: 1 1 0%;
  justify-content: space-between;
  margin: 5px -16px;
}

.menu a {
  color: var(--light);
  margin: 0 0px;
  text-align: center;
  width: fit-content;
  text-decoration: none;
  transition: 0.4s;
  padding: 12px 0px 6px 0px;
  border-bottom: transparent solid 2px;
}

.nav-item {
  width: fit-content;
  margin: auto;
  text-align: center;
}

.menu a.is-active,
.menu a:hover {
  color: #ffb9f6;
  font-size: 1.45rem;
  font-weight: bold;
  border-bottom: #ffb9f6 solid 2px;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  z-index: 100000;
  padding-top: 5rem;
  opacity: 0;
  transform: translateY(-100%);
  background-color: #000000e6;
  color: #fff;
  transition: 0.2s;
}

.mobile-menu.is-open {
  opacity: 1;
  transform: translateY(0);
}

.mobile-menu a {
  display: block;
  padding: 1rem;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 1.5rem;
  transition: 0.3s;
}

.mobile-menu a:hover {
  color: #ffb9f6;
  font-size: 1.55rem;
  font-weight: bold;
}

@media (min-width: 1300px) {
  .mobile-menu,
  .hamburger {
    display: none;
  }
  .menu {
    display: flex;
  }
  nav {
    padding: 16px 32px 20px 32px;
  }
}

/*navbar end*/

.main-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-width: 100%;
  min-height: fit-content;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  margin: auto;
  margin-top: 60px;
}

.page-header {
  font-family: "Myriad Pro Regular", serif;
  font-size: 2.8rem;
  color: var(--light);
  position: relative;
  top: 0px;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 5%, 0);
    transform: translate3d(0, 5%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fly {
  100% {
    transform: rotate(2turn) translate(200px) rotate(-2turn);
    -webkit-transform: rotate(2turn) translate(200px) rotate(-2turn);
    -moz-transform: rotate(2turn) translate(200px) rotate(-2turn);
    -ms-transform: rotate(2turn) translate(200px) rotate(-2turn);
    -o-transform: rotate(2turn) translate(200px) rotate(-2turn);
  }
}
@keyframes flyPlus {
  100% {
    transform: rotate(-2turn) translate(200px) rotate(2turn);
    -webkit-transform: rotate(-2turn) translate(200px) rotate(2turn);
    -moz-transform: rotate(-2turn) translate(200px) rotate(2turn);
    -ms-transform: rotate(-2turn) translate(200px) rotate(2turn);
    -o-transform: rotate(-2turn) translate(200px) rotate(2turn);
  }
}

/*Background Animation*/

.animated {
  width: 100%;
}

.animated .one {
  border-radius: 100%;
  width: 2000px;
  height: 2000px;
  background-color: #a849bd;
  animation: fly 16s linear infinite;
  transform: rotate(0) translate(89px) rotate(0);
  filter: blur(90px);
  opacity: 0.4;
  -webkit-filter: blur(80px);
  position: fixed;
  top: 100px;
  left: 200px;
}

.animated .two {
  border-radius: 100%;
  width: 2000px;
  height: 2000px;
  bottom: -80px;
  background-color: #4540ab;
  animation: flyPlus 17s linear infinite;
  -webkit-animation: flyPlus 17s linear infinite;
  transform: rotate(0) translate(200px) rotate(0);
  -webkit-transform: rotate(0) translate(200px) rotate(0);
  -moz-transform: rotate(0) translate(200px) rotate(0);
  -ms-transform: rotate(0) translate(200px) rotate(0);
  -o-transform: rotate(0) translate(200px) rotate(0);
  filter: blur(90px);
  opacity: 0.6;
  -webkit-filter: blur(50px);
  position: fixed;
  right: 800px;
}

.animated .three {
  border-radius: 100%;
  width: 2000px;
  height: 2000px;
  bottom: -90px;
  right: -100px;
  background-color: #714acc;
  animation: flyPlus 90s linear infinite;
  -webkit-animation: flyPlus 13s linear infinite;
  transform: rotate(0) translate(200px) rotate(0);
  -webkit-transform: rotate(0) translate(200px) rotate(0);
  -moz-transform: rotate(0) translate(200px) rotate(0);
  -ms-transform: rotate(0) translate(200px) rotate(0);
  -o-transform: rotate(0) translate(200px) rotate(0);
  filter: blur(90px);
  opacity: 0.4;
  -webkit-filter: blur(50px);
  position: fixed;
}

.animated .four {
  border-radius: 100%;
  width: 2000px;
  height: 1980px;
  bottom: 90px;
  right: 100px;
  background-color: #8d55be;
  animation: flyPlus 50s linear infinite;
  -webkit-animation: flyPlus 10s linear infinite;
  transform: rotate(0) translate(200px) rotate(0);
  -webkit-transform: rotate(0) translate(200px) rotate(0);
  -moz-transform: rotate(0) translate(200px) rotate(0);
  -ms-transform: rotate(0) translate(200px) rotate(0);
  -o-transform: rotate(0) translate(200px) rotate(0);
  filter: blur(90px);
  opacity: 0.4;
  -webkit-filter: blur(50px);
  position: fixed;
  top: 250px;
  left: 500px;
}

.animated .seven {
  border-radius: 100%;
  width: 2000px;
  height: 1580px;
  bottom: -90px;
  background-color: #c589f9;
  animation: flyPlus 10s linear infinite;
  -webkit-animation: flyPlus 10s linear infinite;
  transform: rotate(0) translate(200px) rotate(0);
  -webkit-transform: rotate(0) translate(200px) rotate(0);
  -moz-transform: rotate(0) translate(200px) rotate(0);
  -ms-transform: rotate(0) translate(200px) rotate(0);
  -o-transform: rotate(0) translate(200px) rotate(0);
  filter: blur(90px);
  opacity: 0.4;
  -webkit-filter: blur(50px);
  position: fixed;
  top: 280px;
  right: 800px;
}

.animated .six {
  border-radius: 100%;
  width: 1500px;
  height: 1500px;
  background-color: #b084bc;
  animation: fly 16s linear infinite;
  transform: rotate(0) translate(89px) rotate(0);
  filter: blur(90px);
  opacity: 0.4;
  -webkit-filter: blur(80px);
  position: fixed;
  top: 9px;
  left: 900px;
}
*/ .animated .five {
  border-radius: 100%;
  width: 1800px;
  height: 1600px;
  background-color: #823db0;
  animation: fly 16s linear infinite;
  transform: rotate(0) translate(89px) rotate(0);
  filter: blur(90px);
  opacity: 0.4;
  -webkit-filter: blur(80px);
  position: fixed;
  top: 1px;
  left: 500px;
}

@media (max-width: 800px) {
  .animated {
    display: grid;
    max-width: 100%;
    position: fixed;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  .animated .one {
    position: relative;
  }
  .two {
    position: relative;
  }
  .three {
    position: relative;
  }
  .four {
    position: relative;
  }
  .five {
    position: relative;
  }
  .six {
    position: relative;
  }
  .seven {
    position: relative;
  }
}

/*Scrollbar*/

#body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px transparent;
  border-radius: 10px;
  background-color: transparent;
  z-index: 999;
}

#body::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
  z-index: 999;
}

#body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px transparent;
  background-color: gainsboro;
  z-index: 999;
}

